* {
    font-family: 'Poppins', sans-serif;
}
body {
    margin: 0;
    padding: 0;
}
.navbar {
    z-index: 1;
}
.logo {
	cursor: pointer;
	width: 150px;
	height: 50px;
}
.nav-item .search_btn {
    color: #222;
    border: 1px solid #222;
}
.nav-item .search_btn:hover {
    color: #777;
    border: 1px solid #888;
}
.banner {
    width: 100%;
    /* height: 100vh; */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.banner video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.banner .content {
    position: relative;
    z-index: 2;
    /* max-width: 1000px; */
    margin: 0 auto;
    text-align: center;
}
.banner .content h1 {
    margin-top: 60px;
    padding: 0;
    font-style: 4.5em;
    text-transform: uppercase;
    color: #fff;
}
.banner .content p {
    font-style: 1.5em;
    color: #fff;
}
.content .btn:hover {
    border: 2px solid #2980b9;
    color: #2980b9;
}
.content .alert {
    border: none;
    color: #2980b9;
}

#jumb_reg {
    height: 270px;
}
.nav-item .search_input {
    width: 40px;
    border-radius: 10px;
    transition: 0.7s all;
}
.nav-item .search_input:hover {
    width: 200px;
}
.nav-item .search_input:focus {
    width: 250px;
}
.nav-item .search_input::placeholder {
    color: rgba(255, 0, 0, 0.39);
}
.input-group button {
    border: none;
    background: transparent;
}
.zbidelj {
    overflow: auto;
}

.kartica {
    width: 250px;
    height: 250px;
}

.car_pic {
   height: 200px;
   width: 100%;
}
.car_pic2 {
    height: 200px;
    width: 300px;
    display: flex;
    margin-left: 370px; 
} 
.index-naslov {
    margin-top: -40px;
}

 .background {
    padding: 10px;
    margin-top: 10px;
    display: flex;
    height: 100%;
}

.slider-frame {
  overflow: hidden;
  height: 400px;
  width: 1200px;
  margin: auto;
}

@keyframes slide_animation {
  0% {left:0px;}
  10% {left:0px;}
  20% {left:1200px;}
  30% {left:1200px;}
  40% {left: 2400px;}
  50% {left: 2400px;}
  60% {left: 1200px;}
  70% {left: 1200px;}
  80% {left: 0px;}
  90% {left: 0px}
  100% {left: 0px}
}

.slide-images {
  width: 4800px;
  height: 800px;
  margin: 0 0 0 -2400px;
  position: relative;
  animation-name: slide_animation;
  animation-duration: 33s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
}

.img-container {
height: 400px;
width: 630px;
position: relative;
float: left;
}
.img-container img {
    height: 400px;
    width: 620px;
}
.zbidelj2 {
    margin: 0 30px;
}
.nav-item .nav-link .badge {
    background: #f00;
    color: white;
}
.gotopbtn {
  position: fixed;
  width: 50px;
  height: 50px;
  background: #2740ae44;
  bottom: 20px;
  right: 40px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 22px;
  border-radius: 50%;
}
.gotopbtn:hover {
    background: #2746aede;
    color: #fff;
}

.deleteBtn a {
    color: white;
}
.deleteBtn a:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
}
